<% provide(:title, 'Trip Plan Index') %>
<h1>All Trip Plans</h1>
<div class="trip-plan-index row">
  <% @trip_plans.each do |t| %>
    <% cache(t) do %>
      <div class="col-xs-4">
        <div class="trip-plan-tile">
          <div class="trip-plan-title">
            <%= t.title %>
          </div>
          <% if current_user == t.user %>
            <% name = 'You' %>
          <% else %>
            <% name = t.user.login %>
          <% end %>
          <%= image_tag t.picture, class: 'trip-plan-img' %>
          <span class="trip-plan-user-info">
            Created by <%= link_to name, user_url(t.user) %>
            <%= time_ago_in_words(t.created_at) %> ago.
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<center>
  <hr>
  <%= will_paginate(@trip_plans) %>
</center>
