<% provide(:title, 'Trip Plan Index') %>
<h1>All Trip Plans</h1>
<%= render 'trip_count', trip_count: @trip_plans.count %>
<%= render 'user_count', user_count: User.count %>
<div class="trip-plan-index row">
  <% @trip_plans.each do |t| %>
    <% cache_unless(t.user == current_user, t) do %>
      <div class="col-xs-4">
        <div class="trip-plan-tile">
          <div class="trip-plan-title">
            <%= t.title %>
          </div>
          <% name = current_user == t.user ? 'You' : t.user.login %>
          <%= image_tag t.picture, class: 'trip-plan-img' %>
          <span class="trip-plan-user-info">
            Created by <%= link_to name, user_url(t.user) %>
            <%= time_ago_in_words(t.created_at) %> ago.
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<center>
  <hr>
  <%= will_paginate(@trip_plans) %>
</center>
