<% provide(:title, 'Create New User Account') %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user) do |f| %>

      <%= f.label :login, value: 'Sign Up' %>
      <%= f.text_field :login, class:'form-control', placeholder: 'Choose Username' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <hr>
      <center>
        <%= f.submit "Create Account", class: 'btn btn-primary' %>
      </center>
    <% end %>
  </div>
</div>
