<h2>
  <% if current_user == @user %>
    You have
  <% else %>
    <%= @user.login %> has
  <% end %>
  <%= pluralize(@trip_plans.count, "trip") %> planned:
</h2>
<div class="row">
  <% if @trip_plans.none? %>
    <center>
      <a href="#" class="new-trip">Create a new trip plan now!</a>
    </center>
  <% else %>
    <% @trip_plans.each do |t| %>
      <% cache(t) do %>
        <div class="col-xs-4">
          <div class="trip-plan-tile">
            <div class="trip-plan-title">
              <%= t.title %>
            </div>
            <%= image_tag t.picture, class: 'trip-plan-img' %>
            <span class="trip-plan-user-info">
              Posted <%= time_ago_in_words(t.created_at) %> ago.
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<center>
  <%= will_paginate(@trip_plans) %>
</center>
